<!-- -*- encoding: utf-8; mode: html; tab-width: 4; indent-tabs-mode: nil -*- -->
<!DOCTYPE html>
<html>
	<head>
		<title>SimpleCI - Continuous Integration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
        <style type="text/css">
            body { padding-top: 80px; }
            a { text-decoration: none;}
            a:hover { text-decoration: none !important }
            a:visited div { text-decoration: none !important } /* Safari fix */
            #build-output {
                max-height: 400px;
                overflow: auto;
                border-color: #222;
                background-color: #333;
                color: #fff;
            }
            .alert h2 { margin: 0 0 10px 0; }
            .error { color: #d2322d;}
        </style>
	</head>
	<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">SimpleCI</a>
                </div>
                <div class="collapse navbar-collapse">
                    <% if request.script_name == "/projects" %>
                        <a href="/projects/new" class="btn btn-primary navbar-btn pull-right"><i class="icon-plus"></i> Add Project</a>
                    <% end %>
                    <% if request.script_name == "/users" %>
                        <a href="/users/new" class="btn btn-primary navbar-btn pull-right"><i class="icon-plus"></i> Add User</a>
                    <% end %>
                    <ul class="nav navbar-nav">
                        <li class="<%= request.script_name == "/projects" ? "active" : "" %>"><a href="/projects">Projects</a></li>
                        <li class="<%= request.script_name == "/users" ? "active" : "" %>"><a href="/users">Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <%= yield %>
        </div>
        <p class="text-center">Courtesy of <a href="https://github.com/ta/simpleci">SimpleCI</a></p>
	</body>
</html>
