<!-- -*- encoding: utf-8; mode: html; tab-width: 4; indent-tabs-mode: nil -*- -->
<% for @user in @users %>
    <a href="/users/<%= @user.id %>">
        <div class="alert alert-<%= @user.admin ? "danger": "info" %>">
            <h2><%= h @user.email %></h2>
            <div>Last updated at: <%= @user.updated_at %></div>
        </div>
    </a>
<% end %>
